models:
  - name: qwen35-397b
    app_key: "**********"
    app_sign: "************"
    base_url: ******************
  - name: glm-5
    app_key: "**********"
    app_sign: "************"
    base_url: ******************
port: 3000
